@font-face {
	font-family: marker;
	src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}

@font-face {
	font-family: logo;
	src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
	font-family: Open Sans;
	text-align: center;
	margin: 0 auto;
}

#menu {
	position: absolute;
	top: 10px;
	left: 20px;
}

#link {
	width: 50px;
	display: inline-block;
	margin-right: 10px;
	line-height: 1rem;
	font-family: logo;
	text-decoration: none;
	color: black;
}

#link:hover {
	cursor: pointer;
	font-family: marker;
}

#header {
	min-height: 35vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
	padding-bottom: 20px;
	padding-top: 2rem;
}

hr {
	width: 20%;
	border-color: black;
	border-width: 2px;
	margin:7px auto;
}

h1 {
	width: 70%;
	margin: auto;
	margin-top: 5px;
	font-size: 2.75rem;
	font-weight: 800;
}

h2 {
	text-transform: uppercase;
	font-size: 0.975rem;
}

h3 {
	margin-top: 5px;
	font-size: 1.175rem;
}

h2,
h3 {
	font-weight: 800;
	color: rgb(67, 67, 67);
}

#maintext {
	width: 90%;
	margin: auto;
	text-align: left;
	font-size: 1.175rem;
}

#maintext::first-letter {
	font-size: 3.4em;
	line-height: 0.7;
	float: left;
	margin: 0.1em 0.1em 0 0
}
#pageNav {
	margin-top:40px;
}
#pageNav a {
	font-weight:300;
	color:black;
	text-decoration:none;
	padding:5px 10px;
	border:1px solid gray;
	border-radius:20px;
}
#pageNav a:hover {
	background:rgba(0,0,0,.1);
	transition:1s ease;
}
