body {
  background-color:white;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

#menu {
  padding-top: 20vh;
}
#home {
  color:white;
  width:100%;
  height:100vh;
  background: url("https://lucymethod.github.io/images/LogoBack.jpg") no-repeat fixed top;
  background-size: contain;
}


.page {
  background-color:rgba(255,255,255,.4);
  width:140px;
  min-width:140px;
  color:black;
}
a, a:hover {
  text-decoration:none;
  color:black;
}
li {
  margin-left:-30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom:3px;
}
li:hover {
  cursor:pointer;
  font-family:Permanent Marker;
}



@media screen and (max-width: 768px) {
  #about {
    width:90vw;
  }
  .page {
    width:80vw;
    text-align:center;
  }
  #logo {
    width:40vw;
    margin-left:20vw;
  }
}
