@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
    background-color: white;
    color: white;
    background: url("https://lucymethod.github.io/images/LogoBack.jpg") no-repeat fixed top;
    background-size: contain;
    font-family: 'Montserrat';
}
#menu {
    width: 100%;
    text-align: center;
	height: 40px;
}
.page {
	display: inline-block;
    width: 140px;
	line-height: 40px;
}
a, a:hover {
    text-decoration: none;
    color: black;
	line-height: 25px;
}
a:hover {
    cursor: pointer;
    font-family: Permanent Marker;
}

.container2 {
	padding-top:20px;
    width: 100%;
    text-align: center;
}
.ic {
    display: inline-block;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
}

.anim-facebook:hover {
    -webkit-animation: facebookAnim 0.4s normal forwards linear;
}
.anim-instagram:hover {
    -webkit-animation: instagramAnim 0.4s normal forwards linear;
}
@-webkit-keyframes facebookAnim {
    100% {
        background: rgba(72, 96, 163, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }
}
@-webkit-keyframes instagramAnim {
    100% {
        background: rgba(38, 38, 38, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }
}
@media screen and (max-width: 768px) {
	.container2 {
		position: absolute;
		bottom: 20px;
	}
}
