@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

body {
    padding-top: 20px;
    background-color: white;
    color: white;
    background: url("https://lucymethod.github.io/images/LogoBack.jpg") no-repeat fixed top;
    background-size: contain;
}

#menu {
    width: 768px;
	margin: auto;
}

.page {
    text-align: center;
    font-family: 'Montserrat';
    display: inline-block;
    width: 150px;
}

a, a:hover {
	position: absolute;
	top:5px;
    line-height: 25px;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    font-family: Permanent Marker;
}

.container2 {
  width: 100%;
  text-align:center;
}

.ic {
  display: inline-block;
  color: #999;
  border: 1px solid #999;
  border-radius: 10%;
  padding: 10px;
  width: 25px;
  height: 25px;
  font-size: 24px;
  cursor: pointer;

}

.anim-facebook{
  &:hover {
    -webkit-animation:  facebookAnim 0.4s normal forwards linear;
   }
}

.anim-instagram{
  &:hover {
    -webkit-animation:  instagramAnim 0.4s normal forwards linear;
   }
}

@-webkit-keyframes facebookAnim {
  100%{
    background: rgba(72, 96, 163, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
  }
}

@-webkit-keyframes instagramAnim {
  100%{
    background: rgba(38, 38, 38, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
  }
}


@media screen and (max-width: 768px) {
    #menu {
        margin: auto;
        width: auto;
    }

    .page {
        margin: auto;
        display: block;
    }
}
