@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  background-color:white;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

#menu {
  padding-top: 20vh;
}
#home {
  color:white;
  width:100%;
  height:100vh;
  background: url("https://lucymethod.github.io/images/LogoBack.jpg") no-repeat fixed top;
  background-size: contain;
}


.page {
  background-color:rgba(255,255,255,.4);
  width:140px;
  min-width:140px;
  color:black;
}
a, a:hover {
  text-decoration:none;
  color:black;
}
li {
  margin-left:-30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom:3px;
}
li:hover {
  cursor:pointer;
  font-family:Permanent Marker;
}


.button {
    background: rgb(129,183,109);
    float: left;
    height: 40px;
    overflow: hidden;
    width: 140px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.icon i {
    color: #fff;
    line-height: 42px;
}

.slide {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 112px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.slide p {
    font-family: Open Sans;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.button .slide {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.facebook iframe {
    display: block;
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 1;
}

.facebook:hover .slide {
    left: 150px;
}

.facebook .icon, .facebook .slide {
    background: #305c99;
}




@media screen and (max-width: 768px) {
  #about {
    width:90vw;
  }
  .page {
    width:80vw;
    text-align:center;
  }
  #logo {
    width:40vw;
    margin-left:20vw;
  }
}
