#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: Collin

# Short bio or description (displayed in the header)
description: Lucy Methopd Blog

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://raw.githubusercontent.com/barryclark/jekyll-now/master/images/jekyll-logo.png

#
# Flags below are optional
#

# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email:
  facebook:
  flickr:
  github: 
  instagram:
  linkedin:
  pinterest:
  rss: # just type anything here for a working RSS icon
  twitter: 
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
  youtube: # channel/<your_long_string> or user/<user-name>
  googleplus: # anything in your profile username that comes after plus.google.com/


# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus:

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: http://lucymethod.github.io

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title

# The release of Jekyll Now that you're using
version: v1.2.0

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  
prose:
  media: 'images/postimgs'
  ignore:
    - /_layouts
  metadata:
    _posts:
        - name: "meetup"
          field:
            element: "hidden"
            value: "meetup"
        - name: "categories"
          field: 
            element: "hidden"
            value: "meetup"
        - name: "permalink"
          field:
            element: "text"
            label: "Permalink"
            value: ""
        - name: "date"
          field:
            element: "text"
            label: "Date (YYYY-MM-DD HH:MM:SS)"
            value: "2014-06-08 10:30:00"
        - name: "host"
          field:
            element: "text"
            label: "Host"
            value: ""
        - name: "address"
          field:
            element: "text"
            label: "Address"
            value: ""
        - name: "link"
          field:
            element: "text"
            label: "Link"
            value: ""
        - name: "background"
          field:
            element: "text"
            label: "Background (CSS)"
            value: "url() #03152A"
