@font-face {
    font-family: sans;
    src: url('https://lucymethod.github.io/font/OpenSans.ttf');
}
@font-face {
    font-family: sansLight;
    src: url('https://lucymethod.github.io/font/OpenSansLight.ttf');
}
@font-face {
    font-family: marker;
    src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}
@font-face {
    font-family: logo;
    src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);

body {
    background: url("https://lucymethod.github.io/images/601.png") no-repeat fixed top left,
                url("https://lucymethod.github.io/images/602.png") no-repeat fixed top right;
    background-size: contain;
}
.homebutton {
    position: absolute;
    top: 5px;
    left: 5px;

    font-family: logo;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.homebutton:hover {
    cursor: pointer;
    font-family: marker;
    text-decoration: none;
}

#wrapper {
	margin-top: 20px;
	text-align: center;
	font-family: sans;
}

#title {
	font-family: logo;
    color: rgb(129, 183, 109);
    font-size: 40px;
}

#skinny {
  font-family: sansLight;
}
p {
    font-size: 1.75 rem;
}

#lang-wrapper {
  position:absolute;
  text-transform:uppercase;
  bottom:10px;
  right:10px;
  text-align:center;
}
h10 {
  font-size:10px;
  width:100px;
}
#lang{
  width:60px;
}

#red, #white, #blue {
  width:60px;
  height:11px;
}
#red {
  background:grey;
}
#white {
  background:white;
}
#blue {
  background:lightgrey;
}

#lang:hover {
  cursor:pointer;
}

#lang:hover #red {
  transition:1s ease;
  background:red;
}

#lang:hover #white {
  transition:1s ease;
  background:white;
}

#lang:hover #blue {
  transition:1s ease;
  background:blue;
}
@media screen and (max-width: 768px) {
    #wrapper {
        width: 90vw;
        margin: auto;
		margin-top: 20px;
    }
}
