@font-face {
    font-family: sans;
    src: url('https://lucymethod.github.io/font/OpenSans.ttf');
}
@font-face {
    font-family: sansLight;
    src: url('https://lucymethod.github.io/font/OpenSansLight.ttf');
}
@font-face {
    font-family: marker;
    src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}
@font-face {
    font-family: logo;
    src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);
body {
    color: white;
    background-color: white;
    background: url("https://lucymethod.github.io/images/60Back.png") no-repeat fixed top;
    background-size: contain;
}
#home {
    margin: 10px 0 10px 10px;
    font-family: logo;
    font-size: 16px;
    color: black;
}
#home:hover {
    cursor: pointer;
    font-family: marker;
}
a, a:hover {
  line-height: 25px;
    text-decoration: none;
    color: black;
}
#title {
    text-align: center;
    color: rgb(129, 183, 109);
    width: auto;
    font-family: logo;
    font-size: 40px;
}
#main-text {
    margin: auto;
    width: auto;
    font-family: sans;
    color: black;
    text-align: center;
}
#skinny {
  font-family: sansLight;
}
p {
    font-size: 13px;
}
@media screen and (max-width: 768px) {
    #home {
        margin: auto;
        text-align: center;
    }
    #about {
        width: 90vw;
        margin: auto;
    }
}
