@font-face {
  font-family: sans;
  src: url('https://lucymethod.github.io/font/OpenSans.ttf');
}

@font-face {
  font-family: marker;
  src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}

@font-face {
  font-family: logo;
  src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}

body {
  background: white;
}

form {
  max-width: 420px;
  margin:auto;
}

h1 {
  padding-top:40px;
  font-family:sans;
  color:rgb(129, 183, 109);
    text-align:center;
  margin:auto;
  width:auto;
}

#home {
  position:absolute;
  top:0;
  list-style: none;
  font-family: logo;
  font-size: 16px;
}

#home:hover {
  cursor: pointer;
  font-family: marker;
  text-decoration: none;
}

a,
a:hover {
  line-height: 25px;
  text-decoration: none;
  color: black;
}

.feedback-input {
  font-family: sans, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgb(129, 183, 109);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid black;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: sans, Arial, Helvetica, sans-serif;
  width: 100%;
  background: rgb(129, 183, 109);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: rgb(109, 163, 89);
}