@font-face {
    font-family: marker;
    src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}

@font-face {
    font-family: logo;
    src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);


body {
    font-family: Open Sans;
    text-align: center;
    margin: 0 auto;
}

#home {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    list-style: none;
    font-family: logo;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    font-family: marker;
    color: black;
}

a.nostyle {
    display: inline-block;
}

a.nostyle:hover {
    font-family: Open Sans;
}

#blogline {
    width: 36px;
    margin-right: 49%;
    margin-top: -25px;
}

#posts {
    margin-top: 40px;
    display: inline-block;
}

.post-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: rgba(129, 183, 109, .8);
    padding: 10px;
    overflow: hidden;
    width: 40vw;
    max-width: 400px;
    margin: 10px;
}

img {
    height: 250px;
    background: black;
}

.post-image {
	background: black;
    margin-right: 20px;
    width: 40vw;
	height: 250px;
    max-width: 380px;
    overflow: hidden;
    padding: 0px;
}

img:hover {
	transition: .5s ease;
	opacity: .9;
    cursor: pointer;
}

#date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;

    background: rgb(40, 40, 40);
    color: white;
    font-family: Open Sans;
    font-weight: 900;
    text-transform: Uppercase;
    padding: 5px;
}

.post-desc, .post-title {
    text-align: left;
    padding-right: 50px;
}

.post-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(40, 40, 40);
}

.post-title:hover {
    color: rgb(80, 80, 80);
    transition: all .5s ease;
    cursor: pointer;
}

.post-desc {
    font-size: 1rem;
    margin-top: 5px;
    color: white;
}
