@font-face {
  font-family: sans;
  src: url('https://lucymethod.github.io/font/OpenSans.ttf');
}
@font-face {
  font-family: marker;
  src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}
@font-face {
  font-family: logo;
  src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);

body {
  color:white;
  background-color: white;
  background: url("https://lucymethod.github.io/images/LucyMethBack.png") no-repeat fixed top right;
  background-size: contain;
}

#home {
  margin-bottom:20px;
  font-family:logo;
  font-size: 16px;
  color:black;
  text-decoration:none;
}
#home:hover {
   cursor:pointer;
   font-family:marker;
   text-decoration: none;
}
a, a:hover {
  text-decoration:none;
  color:black;
}

#LM {
  text-align: center;
  width:auto;
}
#LMTitle {
  color:rgb(129,183,109);
  width:auto;
  font-family:logo;
  font-size:40px;
}

#about {
  width:auto;
  font-family:sans;
  color:black;
  margin-top:20px;
  margin-left:20px;
}
p {
  font-size:13px;
}
.font-larger {
  font-size:16px;
}

@media screen and (max-width: 768px) {
  #LMTitle, #about {
    width:90%;
  }
}
