@font-face {
	font-family: sans;
	src: url('https://lucymethod.github.io/font/OpenSans.ttf');
}
@font-face {
	font-family: marker;
	src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}
@font-face {
	font-family: logo;
	src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);
body {
	background: url("https://lucymethod.github.io/images/LM1.png") no-repeat fixed top left, url("https://lucymethod.github.io/images/LM2.png") no-repeat fixed top right;
	background-size: contain;
}
a,
#homebutton {
	position: absolute;
	top: 5px;
	left: 5px;
	font-family: logo;
	font-size: 16px;
	color: black;
	text-decoration: none;
}
a:hover,
#homebutton:hover {
	cursor: pointer;
	font-family: marker;
	text-decoration: none;
}
#about {
	font-family: sans;
	text-align: center;
	width: auto;
	margin-top: 20px;
}
#title {
	color: rgb(129, 183, 109);
	margin-bottom: -30px;
	font-size: 40px;
}
p {
	margin-top: 40px;
	font-size: 13px;
}
.font-larger {
	font-size: 22px;
}
@media screen and (max-width: 768px) {
	body {
		background: url("https://lucymethod.github.io/images/LMORIG.png") no-repeat fixed top left;
	}
	#about {
		width: 90%;
		margin: auto;
		margin-top: 20px;
	}
}
