@font-face {
  font-family: yoga;
  src: url('https://lucymethod.github.io/font/BeginningYoga.ttf');
}
@font-face {
  font-family: marker;
  src: url('https://lucymethod.github.io/font/PermanentMarker.ttf');
}
@font-face {
  font-family: logo;
  src: url('https://lucymethod.github.io/font/SansationBold.ttf');
}
body {
  color:white;
  background-color: white;
  background: url("https://lucymethod.github.io/images/LucyMethBack.png") no-repeat fixed top;
  background-size: cover;
}

#home {
  font-family:'Montserrat', sans-serif;
  line-height:50px;
  color:black;
  text-decoration:none;
}
#home:hover {
   cursor:pointer;
   font-family:marker;
   text-decoration: none;
}
a, a:hover {
  text-decoration:none;
  color:black;
}

#LM {
  width:auto;
}
#LMTitle {
  color:rgb(129,183,109);
  width:60vw;
  font-family:logo;
  font-size:40px;
}

#about {
  width:60vw;
  font-family:Montserrat;
  color:black;
  margin-top:30px;
}
p {
  font-size:14px;
}

@media screen and (max-width: 768px) {
  #LMTitle, #about {
    width:90%;
  }
}
