---
layout: postdefault
---
    <div id="menu">
        <a id="link" href="https://lucymethod.github.io/">Home</a>
        <a id="link" href="https://lucymethod.github.io/blog">Blog</a>
    </div>
    <div id="header">
        <h2> BY {{ post.author }} ON {{ date | date: "%B %e, %Y" }} </h2>
        <h1>{{post.title}}</h1>
        <hr>
        <h3>{{post.description}}</h3>
    </div>
    <div id="maintext">
        <p>{{ content }}</p>
    </div>
    <div id="pageNav">
        <a class="prev" href="{{page.previous.url}}">PREV</a>
        <a class="next" href="{{page.next.url}}">NEXT</a>
    </div>
