@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
	background-color: white;
	color: white;
	background: url("https://lucymethod.github.io/images/FinalBack.jpg") no-repeat fixed top;
	background-size: contain;
	font-family: 'Montserrat';
}
#menu {
	width: 100%;
	text-align: center;
	height: 40px;
}
.page {
	display: inline-block;
	width: 140px;
	line-height: 40px;
}
a,
a:hover {
	text-decoration: none;
	color: black;
	line-height: 25px;
}
a:hover {
	cursor: pointer;
	font-family: Permanent Marker;
}
.container2 {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: center;
}
.ic {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 5px;
	color: black;
	border: 1px solid black;
	border-radius: 10%;
	padding: 8.5px;
	width: 35px;
	height: 35px;
	font-size: 18px;
	cursor: pointer;
}
.anim-facebook:hover {
	-webkit-animation: facebookAnim 0.4s normal forwards linear;
}
.anim-instagram:hover {
	-webkit-animation: instagramAnim 0.4s normal forwards linear;
}
@-webkit-keyframes facebookAnim {
	100% {
		background: rgba(72, 96, 163, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: white;
	}
}
@-webkit-keyframes instagramAnim {
	100% {
		background: #73af5c;
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: white;
	}
}

#lang-wrapper {
  overflow:hidden;
  position:absolute;
  text-transform:uppercase;
  bottom:10px;
  right:10px;
  text-align:center;
}
h10 {
  font-size:14px;
  width:100px;
}
#lang{
  overflow:hidden;
  height:30px;
  width:60px;
}
#blue {
  position:absolute;
  width:60px;
  height:30px;
  background:lightgrey;
}

#wup {
  position:absolute;
  left:25px;
  width:10px;
  height:30px;
  background:white;
}
#wcross {
  position:absolute;
  top:10px;
  width:60px;
  height:10px;
  background:white;
}
#wupfor {
  position:absolute;
  top:15px;
  left:-10px;
  width:90px;
  height:4px;
  background:white;
  transform: rotate(25deg);
}
#wupback {
  position:absolute;
  top:11px;
  left:-10px;
  width:90px;
  height:4px;
  background:white;
  transform: rotate(-25deg);
}

#rupfor {
  position:absolute;
  top:16px;
  left:-10px;
  width:90px;
  height:1px;
  background:grey;
  transform: rotate(25deg);
}
#rupback {
  position:absolute;
  top:12px;
  left:-10px;
  width:90px;
  height:1px;
  background:grey;
  transform: rotate(-25deg);
}
#rup {
  position:absolute;
  left:28px;
  width:4px;
  height:30px;
  background:grey;
}
#rcross {
  position:absolute;
  top:13px;
  width:60px;
  height:4px;
  background:grey;
}

#lang:hover #blue {
  transition:1s ease;
  background:blue;
}

#lang:hover .red {
  transition:1s ease;
  background:red;
}



@media all and (max-width:360px),
screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1080px),
screen and (-webkit-min-device-pixel-ratio: 2.0) and (max-width: 720px) {
	.page {
		width: 100px;
	}
	.container2 {
		position: absolute;
		bottom: 5px;
		top: auto;
		right:auto;
		left: 5px;
	}
	.ic {
		display: inline-block;
	}
	body {
		background: url("https://lucymethod.github.io/images/FinalBack.jpg") no-repeat fixed;
		background-position: 50% 20vh;
		background-size: 100% auto;
	}
}
